:root {
  --primary-color: #fed3a0;
  --secondary-color: #dd7405;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main{
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

.section-one-left {
  height: 480px;
  border-radius: 15px;
  background-color: var(--primary-color);
  position: relative;
}

.pattern-1 {
  position: absolute;
  height: 465px;
  left: 0;
}

.elements {
  height: 80%;
  position: relative;
}

.logo {
  width: 185px;
  height: 165px;
}

.gif {
  width: 242px;
  height: 242px;
}

.form {
  border-radius: 5px;
  background: #dd7405;
  width: 185px;
  height: 55px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.form:hover {
  text-decoration: none;
  color: #fff;
}

.section-one-right {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navbar-large {
  border-radius: 10px;
  border: 1px solid #fae5d4;
  width: 520px;
}

.navbar-nav {
  gap: 20px !important;
}

.nav-link {
  color: #000 !important;
  font-family: Inter;
  font-size: 13px;
}

.content-title {
  text-align: center;
  font-family: Satoshi;
  font-size: 39px;
  font-weight: 700;
  color: var(--secondary-color);
  width: 520px;
  padding-top: 20px;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-1 {
  position: absolute;
  z-index: 1;
  height: 242px;
  top: 109px;
  left: 118px;
}

.phone-2 {
  position: absolute;
  z-index: 0;
  height: 217px;
  top: 130px;
  right: 160px;
}

.download {
  display: flex;
  padding-top: 210px;
  gap: 12px;
}

.apple,
.google {
  width: 110px;
  cursor: pointer;
}

#home {
  padding-top: 50px;
  position: relative;
}

.image-section {
  position: relative;
}

.section-2-img1 {
  position: absolute;
  height: 188px;
  left: 85px;
}

.section-2-img2 {
  position: absolute;
  height: 219px;
  left: 260px;
}

.section-2-img3 {
  position: absolute;
  height: 189px;
  right: 0;
  top: 80px;
}

.cat-leg {
  position: absolute;
  height: 36px;
  right: 80px;
  top: -70px;
}

.emoji-cat {
  position: absolute;
  height: 59px;
  right: 70px;
  top: 25px;
}

.flower-1 {
  position: absolute;
  height: 148px;
  top: 15px;
}

.cat-leg1 {
  position: absolute;
  height: 39px;
  transform: rotate(140deg);
  left: 100px;
}

.cat-leg2 {
  position: absolute;
  bottom: -40px;
  left: 190px;
  height: 39px;
  transform: rotate(140deg);
}

.stroke {
  position: absolute;
  height: 116px;
  left: 170px;
  bottom: -140px;
}

.section-2-title {
  font-family: Satoshi;
  font-size: 49px;
  font-weight: 700;
  color: var(--secondary-color);
}

.section-2-paragraph {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
}

.cat-container {
  height: 230px;
  position: relative;
}

.cat-smile-container {
  padding-top: 50px;
}

.cat-smile {
  position: absolute;
  height: 40px;
}

.love-icon-1 {
  position: absolute;
  height: 36px;
  left: 300px;
  bottom: 60px;
}

.love-icon-2 {
  position: absolute;
  height: 26px;
  right: 300px;
  top: 80px;
}

.stroke-1 {
  position: absolute;
  height: 39.241px;
  bottom: 0;
  left: 560px;
}

.cat-leg3 {
  position: absolute;
  right: 310px;
  bottom: 20px;
  height: 30px;
  transform: rotate(140deg);
}

#about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.section-3-title {
  color: #8b5a26;
  font-family: Satoshi;
  font-size: 39px;
  font-weight: 700;
}

.pattern-2 {
  position: absolute;
  height: 465px;
  left: 0;
  top: 20px;
}

.about-container {
  padding-right: 300px;
  padding-top: 100px;
}

.about-div {
  transform: rotate(-7.034deg);
  padding: 51px 24px 24px 24px;
  width: 440.341px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
}

.about-content {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  color: #4f4f4f;
}

.cat-heart {
  position: absolute;
  height: 45px;
  z-index: 1;
  left: 520px;
  top: 295px;
}

.about-img {
  height: 322px;
  position: absolute;
  left: 730px;
  bottom: 30px;
  z-index: -1;
}

.pattern-3 {
  position: absolute;
  height: 465px;
  right: 0;
  top: 200px;
  z-index: -2;
}

.section-4-title {
  font-family: Satoshi;
  font-size: 49px;
  text-align: center;
  color: var(--secondary-color);
  font-weight: 700;
}

#goals {
  position: relative;
  padding-top: 200px;
}

.goals-container {
  padding-top: 32px;
  gap: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.goal-container {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px;
  gap: 8px;
}

.goal-content {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #4f4f4f;
  margin: 0;
}

.cat-leg4 {
  position: absolute;
  height: 39.409px;
  left: 42%;
  top: 120px;
  transform: rotate(145deg);
}

.stroke5 {
  position: absolute;
  left: 48%;
  top: 0px;
  height: 160px;
}

.love-icon-3 {
  position: absolute;
  height: 32px;
  right: 40%;
  top: 120px;
}

.flower-3 {
  position: absolute;
  height: 148px;
  right: 25%;
}

.flower-4 {
  position: absolute;
  height: 148px;
  transform: rotate(180deg);
  left: 23%;
  bottom: -70px;
}

.section-3-img1 {
  position: absolute;
  top: 60%;
  height: 261px;
}

.section-3-img2 {
  position: absolute;
  height: 380px;
  right: 0;
  top: 45%;
}

#mission {
  padding-top: 220px;
  position: relative;
}

.mission-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-5-title {
  font-family: Satoshi;
  font-size: 49px;
  font-weight: 700;
  color: var(--secondary-color);
}

.mission-content {
  margin: 0;
  color: #4f4f4f;
  width: 327px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
}

.cat-leg5 {
  position: absolute;
  height: 39.409px;
  right: 42%;
  top: 100px;
  transform: rotate(145deg);
}

.stroke7 {
  position: absolute;
  left: 48%;
  top: 40px;
  height: 160px;
}

.emoji-kissing-cat {
  position: absolute;
  height: 100px;
  left: 12%;
  top: 65%;
}

.flower-6 {
  position: absolute;
  height: 148px;
  right: 0;
}

.images{
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-container {
  height: 35rem;
  width: 100vw;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  position: relative;
}

.slider-title{
  position: absolute;
  top: 0;
  font-family: 'Papyrus', Fantasy;
  font-size: 20px;
}

.left-arrow,
.right-arrow {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-content {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  perspective: 100px;
}
.slider-content-background {
  height: 100%;
  width: 102%;
  position: absolute;
  top: 0;
  left: -1%;
  background: linear-gradient(
    to left,
    #f1f1f1,
    transparent,
    transparent,
    transparent,
    #f1f1f1
  );
  z-index: 3;
}
.slider-content .slide {
  position: absolute;
  left: 50%;
  height: 24rem;
  max-height: 400px;
  width: 14rem;
  min-width: 270px;
  background: #999;
/*   border: 1px solid; */
  border-radius: 25px;
  left: 50%;
  z-index: 0;
/*   opacity: 0; */
  transform: translate(-50%, 0) rotateY(0deg) scale(1,1);
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, left 0.5s ease-in-out,
    z-index 0s 0.25s ease-in-out, box-shadow 0.5s ease-in-out;
}

.slide.position-1 {
  left: 20% !important;
  z-index: 1 !important;
  transform: translate(-50%, 0) rotateY(-2deg) scale(0.8, 0.8) !important;
  opacity: 1 !important;
  box-shadow: 0px 0.4rem 1.6rem rgba(0, 0, 0, 0.1) !important;
  
}
.slide.position-2 {
  left: 35% !important;
  z-index: 2 !important;
  transform: translate(-50%, 0) rotateY(-1deg) scale(0.9, 0.9) !important;
  opacity: 1 !important;
  box-shadow: 0px 0.4rem 1.6rem rgba(0, 0, 0, 0.3) !important;
  
}
.slide.position-3 {
  left: 50% !important;
  z-index: 4 !important;
  transform: translate(-50%, 0) rotateY(0deg) scale(1, 1) !important;
  opacity: 1 !important;
  box-shadow: 0px 0.4rem 1.6rem rgba(0, 0, 0, 0.5) !important;
  cursor: pointer;
}
.slide.position-3:hover {
  box-shadow: 0px 0rem 1.8rem rgba(0, 0, 0, 0.7) !important;
  transform: translate(-50%, 0) rotateY(0deg) scale(1.05, 1.05) !important;
}
.slide.position-4 {
  left: 65% !important;
  z-index: 2 !important;
  transform: translate(-50%, 0) rotateY(1deg) scale(0.9, 0.9) !important;
  opacity: 1 !important;
  box-shadow: 0px 0.4rem 1.6rem rgba(0, 0, 0, 0.3) !important;
/*   animation: center-animation 1s 1s linear 1 forwards; */
}
/* @keyframes center-animation{ */
  0%{
    left: 70% !important;
    transform: translate(-50%, 0) rotateY(1deg) scale(0.9, 0.9) !important;
  }
  50%{
    left: 75% !important;
    transform: translate(-50%, 0) rotateY(-2deg) scale(1.1, 1.1) !important;
  }
  100%{
    left: 50% !important;
    transform: translate(-50%, 0) rotateY(0deg) scale(1, 1) !important;
  }
}
.slide.position-5 {
  left: 80% !important;
  z-index: 1 !important;
  transform: translate(-50%, 0) rotateY(2deg) scale(0.8, 0.8) !important;
  opacity: 1 !important;
  box-shadow: 0px 0.4rem 1.6rem rgba(0, 0, 0, 0.1) !important;
  
}

.slide.position-none{
   left: 50%;
  z-index: 0;
  transform: translate(-50%, 0) rotateY(0deg) scale(0.7, 0.7);
  opacity: 1;
  box-shadow: 0px 0.4rem 1.6rem rgba(0, 0, 0, 0);
}

.slider-container i{
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
}
.slider-container .left-arrow:hover i, .slider-container .right-arrow:hover i{
  background: var(--primary-color);
  color: #fff;
}


.slider-content .slide .card-sections .upper-section, .slider-content .slide .card-button{
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.slider-content .slide.position-3 .card-sections .upper-section, .slider-content .slide.position-3 .card-button{
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
}

.slide > *{
  color: white;
  font-family: 'Inter';
  font-size: 90%;
  letter-spacing: -0.001em;
}

.media, .card-sections{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  overflow: hidden;
}
.media{
  display: flex;
  align-items: center;
  justify-content: center;
}

.media img{
  position: absolute;
  height: 30rem;
}

@media screen and (max-width:620px){
.slide.position-1, .slide.position-5 {
  opacity: 0.5 !important;
  }
  .slide.position-2, .slide.position-4 {
  opacity: 0.95 !important;
}
} 
  
@media screen and (max-width: 445px){
  
  .slide.position-1, .slide.position-5 {
  opacity: 0 !important;
  }
.slide.position-2, .slide.position-4 {
  opacity: 0.5 !important;
}
}
@media screen and (max-width: 415px){
  .slide{
    opacity: 0 !important;
    box-shadow: none !important;
  }
  .slide.position-3{
    box-shadow: none !important;
    opacity: 1 !important;
  }
  .slide.position-1, .slide.position-2 {
    left: -50% !important;
    transform: translate(-50%, 0) rotateY(0deg) scale(0.7, 0.7) !important;
  }
  .slide.position-4, .slide.position-5 {
    left: 150% !important;
    transform: translate(-50%, 0) rotateY(0deg) scale(0.7, 0.7) !important;
  }
}

.footer-div{
  border-radius: 15px;
  background: var(--primary-color);
  padding: 36px 48px;
}

.contact{
  font-size: 24px;
  font-style: normal;
  font-family: Satoshi;
  font-weight: 600;
}

.person{
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  font-family: Inter;
}

.person a{
  text-decoration: none;
  color: #000;
}

.person a:hover{
  color: #000;
}

.footer-logo{
  height: 100px;
}

@media (min-width: 480px) {
  .small,
  .stroke2,
  .flower-2,
  .stroke3,
  .stroke4,
  .stroke6,
  .flower-5,
  .flower-7,
  .stroke8 {
    display: none !important;
  }
}

@media (max-width: 480px) {
  .content,
  .pattern-3,
  .cat-leg,
  .cat-leg1,
  .cat-leg2,
  .cat-leg3,
  .love-icon-1,
  .love-icon-2,
  .flower-1,
  .large,
  .emoji-cat,
  .cat-smile,
  .about-img,
  .stroke,
  .stroke-1,
  .section-3-img1,
  .section-3-img2,
  .flower-3,
  .flower-4,
  .stroke5,
  .emoji-kissing-cat,
  .flower-6,
  .cat-leg5,
  .stroke7 {
    display: none !important;
  }

  .section-one-left {
    height: 569px;
  }

  .logo {
    width: 110px;
    height: 96px;
  }

  .elements {
    display: flex;
    flex-direction: column;
  }

  .form {
    width: 140px;
    height: 40px;
  }

  .pattern-1 {
    height: 438px;
    left: 0;
  }

  .download {
    padding-top: 30px;
    display: flex;
    justify-content: center;
  }

  .apple,
  .google {
    width: 142px;
    opacity: 0.5 !important;
  }

  .elements {
    height: auto;
  }

  .navbar-light .navbar-toggler {
    border-color: rgb(0 0 0 / 0%) !important;
  }

  .navbar-small {
    position: relative;
  }

  .stroke2 {
    height: 67px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: -60px;
  }

  .section-2-title {
    font-family: Satoshi;
    font-size: 31px;
    text-align: center;
    padding-top: 10px;
  }

  .section-2-paragraph {
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    padding: 10px 50px;
    text-align: justify;
  }

  .flower-2 {
    position: absolute;
    height: 82px;
  }

  .stroke-3 {
    height: 51.228px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .pattern-2 {
    height: 265px;
  }

  .cat-heart {
    height: 30px;
    left: 45%;
    top: 500px;
  }

  .about-container {
    padding: 0;
    padding-top: 30px;
  }

  .about-div {
    transform: none;
    padding: 51px 24px 24px 24px;
    margin-left: auto;
    margin-right: auto;
    width: 341px;
  }

  .section-2-img1 {
    height: 188px;
    top: 300px;
    left: 55%;
  }

  .section-2-img2 {
    height: 190px;
    top: 300px;
    left: 35%;
    transform: translate(-50%, 0);
    transform: rotate(-34deg);
    z-index: -1;
  }

  .section-2-img3 {
    height: 189px;
    left: 50%;
    transform: translate(-50%, 0);
    top: 70px;
  }

  #about {
    padding-top: 350px;
  }

  .pattern-2 {
    left: -10px;
    top: 200px;
    height: 150px;
  }

  .section-3-title {
    font-family: Satoshi;
    font-size: 31px;
    font-weight: 700;
  }

  .stroke3 {
    position: absolute;
    height: 51px;
    top: 300px;
  }

  .about-content {
    font-size: 13px;
  }

  .flower-2 {
    left: 0;
  }

  .stroke4 {
    position: absolute;
    height: 51px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  #goals {
    padding-top: 100px;
  }

  .stroke6 {
    position: absolute;
    height: 81px;
    top: 20px;
    left: 48%;
  }

  .cat-leg4 {
    left: 30%;
    top: 40px;
  }

  .love-icon-3 {
    height: 32px;
    right: 30%;
    top: 40px;
  }

  .section-4-title {
    padding-top: 20px;
    font-size: 31px;
    color: #8b5a26;
  }

  .goals-container {
    width: fit-content;
    padding: 16px;
  }

  .goal-content {
    font-size: 13px;
  }

  .flower-5 {
    position: absolute;
    height: 115px;
    right: 0;
    bottom: -50px;
    z-index: -1;
  }

  .section-5-title {
    font-size: 31px;
  }

  .flower-7 {
    position: absolute;
    height: 85px;
    left: 0;
    top: 15%;
  }

  .stroke8{
    position: absolute;
    height: 73px;
    left: 50%;
    top: 3%;
  }

  #mission {
    padding-top: 100px;
  }

  .align{
    text-align: center !important;
  }

  .footer-row{
    gap: 24px;    
  }

}
